html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
body {
  	margin: 0;
	padding: 0;
	background-color: goldenrod;
}
img {
	display: inline-block;
	max-width: 100%;
	height: auto;
}
.box1 {
	padding: 0;
	margin: 0
	width: 100vw;
	height: auto;
	background-image: url("../Images/first.JPG");
	background-repeat: no-repeat;
	background-size: cover;
}
.wrapper {
	align-items: center;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}
.ul {display: inline-block;
	word-spacing: 20px;
}
li {
	display: inline-block;
}
#li {
	padding-right: 10px;	
}
a {display: inline-block;
	text-decoration: none;
	color:white;}	
	} 
#cs {
	
}
h1 {
	display: inline-block;
	background-color: blue;
	color: white;
	width: 45px;
	height: 45px;
	font-size: 35px;
	box-shadow:5px 5px 
}
.cr {
	text-transform: uppercase;
	font-size: 140px;
	color: white;
	text-align: center;
}
.po {
	text-align: center;
	color: blue;
	text-transform: uppercase;
	transform: translateY(-200px);
	letter-spacing: 20px;
}

.scroll {
	font-size: 10px;
	color: white;
	text-align: center;
	transform: translateY(-150px);
}
.ay {	text-align: center;
	transform: translateY(-145px);
}
.aylana {
	transform: rotate(-90deg);
	width: 20px;
	height: 20px;
	display: inline-block;
	border: 1px solid white;
	color: white;
	border-radius: 50%;
}









@media(max-width: 800px){
	.cr  {
		font-size: 100px;
	}
	.po {
	transform: translateY(-150px);
	letter-spacing: 13px;
}
}

@media(max-width: 550px){
	.cr  {
		font-size: 80px;
	}
	.po {
	transform: translateY(-130px);
	letter-spacing: 8px;
}
}


@media(max-width: 440px){
	.cr  {
		font-size: 60px;
	}
	.po {
	transform: translateY(-100px);
	letter-spacing: 4px;
	}
	.ay {	text-align: center;
	transform: translateY(-90px);
	}
	.scroll {
	font-size: 10px;
	color: white;
	text-align: center;
	transform: translateY(-100px);
	}
	.ul {display: inline-block;
	word-spacing: 10px;
	text-align: center;
}



@media(max-width: 390px){
	.cr  {
		font-size: 55px;
	}
	.po {
	transform: translateY(-100px);
	letter-spacing: 3px;
	}
	.ay {	text-align: center;
	transform: translateY(-90px);
	}
	.scroll {
	font-size: 10px;
	color: white;
	text-align: center;
	transform: translateY(-100px);
	}
	.ul {display: inline-block;
	word-spacing: 10px;
	text-align: center;
}